.home-achieve-academy {
  height: var(--achiveHeight);
  $orange: rgb(255, 117, 72);

  flex: auto;
  max-width: calc(70% - 15px);

  &-header {
    width: 100%;
    border-bottom: $orange solid 2px;
  }

  @mixin trapezium($height) {
    display: inline-block;
    background-color: $orange;
    height: $height;
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      right: $height;
      width: 0;
      height: 0;
      border-top: $height solid #FFFFFF;
      border-left: $height solid $orange;
    }
  }

  .trapezium-title {
    @include trapezium(50px);
  }

  .nav-bar {
    display: flex;

    &-list {
      list-style: none;

      li {
        border-right: 1px solid #BBBBBB;
      }
    }

    &-btn {
      color: #FFFFFF;
      padding: 5px 10px;
      background-color: rgb(39, 195, 154);
    }
  }

  .trapezium-decorate {
    @include trapezium(10px);
  }

  &-main {
    border: {
      left: 1px solid #BBBBBB;
      right: 1px solid #BBBBBB;
    };
    padding: 10px;

    .title {
      border-bottom: 2px solid $orange;
    }

    .projects-container {
      border-top: 1px solid #BBBBBB;
    }
  }
}