.home-achieve-academy {
  flex: auto;
  max-width: calc(70% - 15px);
  height: var(--achiveHeight);
  $orange: rgb(255, 117, 72);

  &-header {
    border-bottom: $orange solid 2px;
  }

  .trapezium {
    display: inline-block;
    $height: 50px;
    background-color: $orange;
    height: $height;
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      right: -$height;
      width: 0;
      height: 0;
      border-top: $height solid #FFFFFF;
      border-left: $height solid $orange;
    }
  }

  .nav-bar {
    display: flex;

    &-list {
      list-style: none;

      li {
        border-right: 1px solid #BBBBBB;
      }
    }

    &-btn {
      color: #FFFFFF;
      padding: 5px 10px;
      background-color: rgb(39, 195, 154);
    }
  }
}