.home-achieve-academy {
  height: var(--achiveHeight);
  $orange: rgb(255, 117, 72);
  flex: auto;

  &-header {
    width: 100%;
    border-bottom: $orange solid 2px;
  }

  @mixin trapezium($height) {
    display: inline-block;
    color: #FFFFFF;
    background-color: $orange;
    height: $height;
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      right: -$height;
      width: 0;
      height: 0;
      border-top: $height solid #FFFFFF;
      border-left: $height solid $orange;
    }
  }

  .trapezium-title {
    @include trapezium(35px);

    p {
      font-weight: bold;
      margin: 10px 20px 0;
    }
  }

  .nav-bar {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;

    &-list {
      display: inline-block;
      margin: 0;
      list-style: none;
      vertical-align: bottom;

      li {
        display: inline-block;
        padding: 0 8px;
        border-right: 2px solid #BBBBBB;

        &:last-of-type {
          border: 0;
        }
      }
    }

    &-btn {
      height: 40px;
      border: 0;
      color: #FFFFFF;
      padding: 5px 10px;
      background-color: rgb(39, 195, 154);
    }
  }

  .trapezium-decorate {
    @include trapezium(10px);
    width: 200px;
    display: block;
  }

  &-main {
    border: {
      left: 1px solid #BBBBBB;
      right: 1px solid #BBBBBB;
    };
    padding: 10px;

    .title {
      border-bottom: 2px solid $orange;
    }

    .projects-container {
      border-top: 1px solid #BBBBBB;

      > div {
        display: inline-block;
      }
    }
  }

  .academy-project {
    img {
      width: 40%;
    }

    &-main {
      display: inline-block;

      .type {
        color: $orange;
      }
    }
  }
}