.perfect-message {
  &-drag {
    vertical-align: middle;
  }

  &-drag-select {
    display: inline-block;
    text-align: center;
    width: 80px;
    line-height: 30px;
    height: 30px;
    border: 2px dashed black;
    margin-left: 10px;
  }

  &-drag-env {
    width: 80px;
    display: inline-block;
    border: 2px dashed black;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    height: 30px;
    line-height: 30px;

    &:before {
      display: inline-block;
      content: '';
      padding-top: 20%;
      vertical-align: middle;
    }
  }

  &-form-btn {
    padding: 40px 0;
    margin-bottom: 20px;

    button {
      border: 1px solid #BBBBBB;
      color: black;
      background-color: transparent;
      width: 70px;
      height: 35px;
      margin: 0 20px;
      float: right;

      &:hover {
        color: white;
        background-color: #FF9800;
      }
    }
  }
}