.home-main-members {
    display: flex;
    justify-content: center;
    --mermberHeight: 80px;
}

@media screen and (max-width: 767px) {
    .home-main-members {
        --mermberHeight: 60px;
    }
}

@media screen and (max-width: 450px){
    .home-main-members {
        font-size: 10px;
        --mermberHeight: 40px;
    }
}

.home-main-members-side {
    flex: 1 0 80px;
    text-align: center;
    max-width: 100px;
    max-height: var(--mermberHeight);
    background-color: #FF7043;
    color: white;
    line-height: var(--mermberHeight);
    vertical-align: middle;
}

.home-main-members-imgs {
    flex: auto;
    display: flex;
    justify-content: space-around;
}

.home-main-members-imgs img {
    width:auto;
    height: var(--mermberHeight);
}