.navbar {
  &-item {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: calc(100% + 1px);
    color: white;

    a {
      color: inherit;
      font-weight: 900;
      text-decoration: none;
    }

    &.nav-active {
      background-color: white;
      a {
        color: #ff7043;
      }
    }
  }
}