@import 'index';

.main-feature-item {
  display: inline-flex;
  height: 100px;
  justify-content: center;
  font-size: 1rem;

  p {
    flex: auto;
    margin: 0;
  }

  &-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    p:first-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  @include responsive(mobile-screen) {
    font-size: 14px;
  }
}

.main-feature-font {
  font-size: calc(14 / 16 * 1rem);

  @include responsive(mobile-screen) {
    font-size: 12px;
  }
}