.home-main-experts {
  $orange: rgb(255, 117, 72);
  $blue: rgb(71, 158, 255);
  $headerMargin: 10px;

  flex: auto;
  margin-left: 10px;
  width: 40%;

  .header {
    position: relative;
    justify-content: space-between;
    padding-bottom: $headerMargin / 2;
    border-bottom: 3px solid $blue;
  }

  .title {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    color: $blue;
  }

  .more {
    position: absolute;
    right: 0;
    bottom: $headerMargin / 2;
    margin: $headerMargin / 2;
    color: $orange;
  }

  .experts-container {
    margin-top: $headerMargin;
    border: 1.5px solid #BBBBBB;
    padding: 15px 15px 0;
    border-bottom: 0;
  }

  .expert {
    &-container {
      display: flex;
    }

    &-avatar {
      width: 100px;
      height: 100px;
    }

    &-name {
      margin: 0 0 10px;
      font-weight: bold;
    }

    &-info {
      margin: 10px 0;
      color: #BBBBBB;
    }
  }
}