.posts-publish {
  &-container {
    padding: 0 40px;
    font-size: 1em;

    input {
      box-sizing: border-box;
      width: 100%;
      font-size: 1em;
    }
  }

  &-gap {
    margin-bottom: 10px;
  }

  &-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &-btn {
    color: black;
    font-size: 1.125em;
    padding: 5px 25px;
    border: 1px solid #bbbbbb;
    background-color: transparent;

    &:hover {
      background-color: #ff9800;
      color: white;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}