.queryfield-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 2px 5px;
    border: 1px solid #FF9800;
}

.queryfield-input > input {
    flex: auto;
    font-size: 1.3em;
    line-height: 30px;
    border:none;
}

@media screen and (max-width: 760px) {
    .queryfield-input > input {
        line-height: 25px;
    }
}

.queryfield-input > input:focus {
    outline: none;
}