.management-company {
  &-aside {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0  0 20px -2px black;
    color: #FF6B00;
    min-height: 90vh;

    @media screen and (max-width: 550px) {
      width: 74px;
    }
    
    a {
      color: black;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .header {
        font-size: 1em;
        font-weight: bold;
        padding: 10px 5px;
        border-bottom: 1px solid #FF6B00;
      }

      .link {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        vertical-align: bottom;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 2px;
          background-color: #FF6B00;
          width: 2px;
          height: 0;
        }
      }

      .link.active-link {
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 2px;
          background-color: #FF6B00;
          width: 2px;
          height: 100%;
          transition: height .3s ease-in-out;
        }
      }
    }

    .normal-font {
      font-size: 0.9em;
    }
  }
}