.exercitationPosts {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    flex-direction: column;
}

.exercitationPosts-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}