.management-company-main-container {
  display: flex;
  padding-top: 60px;

  > section:nth-child(n+2) {
    box-sizing: border-box;
    width: calc(100% - 90px);
    padding: 0 40px;

    @media screen and (max-width: 760px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 550px) {
      width: calc(100% - 74px);
    }
  }
}