.exercitation-institute-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 0;
}

.exercitation-institute-show-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 700px){
    .exercitation-institute-show-container {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}