.login {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    display: grid;
    width: 50%;
    max-width: 550px;
    max-height: 330px;
    grid-template-rows: minmax(30px, max-content) auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
  }
}