.exercitationPosts-posts-logo {
    display: flex;
    align-items: center;
}

.exercitationPosts-posts-logo img {
    max-width: 140px;
}

@media screen and (max-width: 760px) {
    .exercitationPosts-posts-logo img {
        max-width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .exercitationPosts-posts-logo img {
        max-width: 75px;
    }
}