.execitation-models-show {
    display: flex;
    flex-direction: column;
    max-width:18%;
    justify-content: space-around;
    align-items: center;
}

.execitation-models-show img {
    width: 100%;
}