.home-work-chance {
  background-color: #EEEEEE;
  max-width: 70%;
  padding: 4px 0 0;
  $containerHeight: 400px;
  $height: 2.2em;
  $borderRadius: 10px;
  $whBg: #FFFFFF;

  @media screen and (max-width: 1200px) {
    max-width: 100%;
  }

  .header {
    position: relative;
    width: 5em;
    padding: 0 1em;
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 1.2em;
    height: $height;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius + 5;

    &:before {
      display: block;
      content: '';
      width: $height;
      height: $height;
      background-color: $whBg;
      position: absolute;
      right: -$height / 2;
      transform: skew(45deg);
      border-top-right-radius: $borderRadius;
    }

    p {
      line-height: $height;
      margin: 1px 0;
      text-align: center;
    }
  }

  .main-container {
    display: flex;
  }

  .nav-container {
    padding: 20px 5px 0;
    background-color: $whBg;
    width: 33%;
    height: $containerHeight;
    box-sizing: border-box;
    border-top-right-radius: $borderRadius;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      width: 40%;
    }

    @media screen and (max-width: 760px) {
      height: 360px;
    }

    @media screen and (max-width: 450px) {
      height: 300px;
    }
  }

  .description-container {
    width: calc(67% - 30px);
    background-color: $whBg;
    margin-left: 20px;
    box-sizing: border-box;
    height: $containerHeight;

    border-top: {
      left-radius: $borderRadius;
      right-radius: $borderRadius;
    };

    @media screen and (max-width: 760px) {
      height: 360px;
    }

    @media screen and (max-width: 450px) {
      height: 300px;
    }
  }
}