.work-chance-nav {
  $blue: rgb(22, 126, 222);
  $orange: rgb(250, 102, 0);

  position: relative;
  height: 4em;
  background-color: $blue;
  border-radius: 10px;
  padding: 1px 0;
  margin-bottom: 2em;


  &.active {
    background-color: $orange;

    .icon {
      border-color: $orange;
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: -20px;
    border: 2px solid $blue;
    border-radius: 50%;
  }

  .font {
    margin: 5px 5px;
    text-align: right;
    font-weight: bold;
    color: #FFFFFF;
  }
}