.work-chance-description {
  padding: 20px 10px 0;
  $blue: rgb(22, 126, 222);
  $orange: rgb(250, 102, 0);

  .pre-paragraph {
    letter-spacing: -2px;
    white-space: pre-wrap;
  }

  .more-info {
    color: $orange;
  }

  .btn {
    display: inline-block;
    font-weight: bold;
    padding: 6px 20px;
    margin-right: 15px;
    outline: none;
    color: #FFFFFF;
    background-color: $blue;
    border-radius: 10px;
    border: 0;

    &:hover {
      background-color: $orange;
    }

    &:first-of-type {
      margin: 5px 10px 0 0;
    }
  }
}