.text-center {
  text-align: center;
}

.posts-manage-operation {
  text-align: center;

  a {
    font-size: 1em;
    text-decoration: underline;
    color: black;
    &:nth-child(n+2) {
      margin-left: 2px;
    }
  }
}